<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 25px;">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">
      <img src="assets/tmdb.svg" alt="" width="30" height="24">
      Movies & Series
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="movies">Home</a>
        <a class="nav-link" routerLinkActive="active" routerLink="cart">My Cart</a>
        <a class="nav-link" routerLinkActive="active" routerLink="myAccount">Login</a>
        <a class="nav-link" routerLinkActive="active" routerLink="register">Register</a>

      </div>
    </div>
  </div>
</nav>
